@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
}
.side-menu{
    background-color: rgb(189, 205, 202);
    width: 15vw;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}
.side-menu nav{
    padding: 25px;
}

.side-menu nav li{
    list-style: none;
    font-size: 20px;
    padding: 20px 0;
}

.side-menu nav li a{
    text-decoration: none;
    color: #000000;
}
.main{
    /* background-color: #24A5BB; */
    width: 90vw;
    
}

.container{
    display: flex;
}

.infoContainer{
    /* background-color: #7224bb; */
    height: 60vh;
    width: 85vw;
    margin: 125px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 25px;
}
.name{
    font-size: 60px;
    font-family: 'Fira Sans', sans-serif;
}
.about{
    font-size: 25px;
}

.moreabout{
    font-size: 13px;
    font-family: 'Fira Sans', sans-serif;
    padding: 5px 0;
    margin-top: 18px;


}

.buttons{
    margin-top: 25px;
    font-family: 'Fira Sans', sans-serif;
    
}


.btn{
    padding: 9px;
    margin: 0 8px;
    border-radius: 25px;
    color: #ffffff;
    background-color: #80909d;
    cursor: pointer;
    transform: translateY(-6px);
    outline-offset: 4px;
    font-size: 14px;

}
.btn a{
    text-decoration: none;
    color: #ffffff;
}
.btn:active .button {
    transform: translateY(-2px);
}

.btn-sm{
    width: 98px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 12px;

}

.devPic{
    border: 12px;
    
}
.devPic img{
    height: 60vh;

}

.contact-form{
    padding: 0 34px;
    padding-top: 70px;
    font-family: 'Fira Sans', sans-serif;
}

.contact-form h1{
    font-family: 'Source Code Pro', monospace;
    padding: 15px 0;
    
}

.contact-form form div{
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.contact-form form div input{
    width: 350px;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 5px;
}

.tea-svg{
    width: 80px;
    height: 100px;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 15px;
    margin: 3px 1px;

}

#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
}


.footer{

width: 100%;
}